div.img {
    margin: 5px;
    padding: 4px;
    border: solid;
    height: auto;
    width: auto;
    float: right;
    text-align: center;
}
div.img2 {
    margin: 5px;
    padding: 4px;
    border: solid;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
div.img3 {
    margin: 5px;
    padding: 4px;
    border: solid;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
h1{
	color: #C4BD00;
	text-align: center;
	position: relative;
	
}
body{
	background-color: black;
}

p{
	margin-left: auto;
    margin-right: auto;
	max-width: 70%;
	text-align: justify;
	color: #9D9C6F;
	position: relative;
	top: 10px;	
}
p.Second{
	margin-left: auto;
    margin-right: auto;
	max-width: 70%;
	text-align: justify;
	color: #9D9C6F;
	position: relative;
	top: 20px;	
}
a{
	color: #9D9C6F;
	text-decoration: none;
	text-align: right;
	text-align: bottom;
}

#nav {
    background-color:#747474;
    text-align:center;
    padding:10px;
}
#footer{
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:30px; 
}